*{
  box-sizing:border-box;
  font-family:Poppins, sans-serif;
}

body{
  margin:0;
  min-height:100vh;
  background:linear-gradient(135deg,#ff6fae,#ff9fcf);
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
}

.screen{
  background:rgba(255,255,255,0.25);
  backdrop-filter:blur(14px);
  padding:30px;
  border-radius:25px;
  text-align:center;
  width:90%;
  max-width:380px;
}

.hidden{display:none;}

input{
  padding:12px;
  border-radius:12px;
  border:none;
  width:100%;
  margin:15px 0;
}

button{
  padding:12px 25px;
  border:none;
  border-radius:25px;
  cursor:pointer;
  font-size:16px;
}

.glow{
  color:white;
  text-shadow:0 0 20px white;
}

.compliment-box{
  margin-top:25px;
  padding:20px;
  border-radius:20px;
  background:rgba(255,255,255,0.35);
  min-height:80px;
  font-size:18px;
}

.buttons{
  margin-top:20px;
  position:relative;
}

#no{
  position:absolute;
  right:0;
  background:black;
  color:white;
}

#yes{
  background:white;
  color:#ff5fa2;
}

.date-card{
  margin-top:25px;
  padding:20px;
  border-radius:20px;
  background:rgba(255,255,255,0.35);
  line-height:1.7;
}
